{% load static %}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">

<head>
    <meta charset="utf-8" />
    <title>Reset Password | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />

    <style>
        .invalid {
            color: red;
        }

        .spinner-border {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            vertical-align: text-bottom;
            border: 0.15em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            animation: spinner-border 0.75s linear infinite;
        }

        #forgot-btn {
            position: relative;
        }

        #forgot-spinner {
            position: absolute;
            top: 15px;
        }
    </style>
</head>

<body>
    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4 card-bg-fill">
                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Forgot Password?</h5>
                                    <lord-icon src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop"
                                        colors="primary:#0ab39c" class="avatar-xl"></lord-icon>
                                </div>

                                <div class="alert border-0 alert-warning text-center mb-2 mx-2" role="alert">
                                    Enter your email and an OTP will be sent to you!
                                </div>

                                <div class="p-2">
                                    <form id="forgotpasswordForm">
                                        {% csrf_token %}
                                        <div class="mb-4">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                placeholder="Enter Email" required>
                                        </div>
                                        <button type="submit" id="forgot-btn" class="btn btn-success w-100"
                                            name="forgot">
                                            <span id="forgot-spinner"
                                                class="spinner-border spinner-border-sm text-white d-none me-4"
                                                role="status" aria-hidden="true"></span>
                                            <span id="forgot-text">Submit</span>
                                        </button>
                                    </form>
                                    <div class="mt-4 text-center">
                                        <p class="mb-0">Wait, I remember my password...
                                            <a href="{% url 'login' %}"
                                                class="fw-semibold text-primary text-decoration-underline"> Click here
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/libs/particles.js/particles.js' %}"></script>
    <script src="{% static 'assets/js/pages/particles.app.js' %}"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        // CSRF token setup for AJAX
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            headers: { 'X-CSRFToken': csrftoken }
        });

        $(document).ready(function () {
            $('#forgotpasswordForm').on('submit', function (e) {
                e.preventDefault();

                $('#forgot-spinner').removeClass('d-none');
                $('#forgot-text').text('Loading...').removeClass('invisible').addClass('ms-4');
                $('#forgot-btn').prop('disabled', true);

                let formData = new FormData(this);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'forgotpassword' %}",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        $('#forgot-spinner').addClass('d-none');
                        $('#forgot-text').removeClass('invisible');
                        $('#forgot-btn').prop('disabled', false);

                        if (response.success) {
                            Swal.fire({
                                title: 'Verification Code Sended.',
                                text: 'Just send a verification code to your email to verify.',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                window.location.href = response.next_url;
                            });
                        } else {
                            $('#forgot-text').text('Submit ').removeClass('invisible').addClass('ms-4');
                            $('#forgot-spinner').addClass('d-none');
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                            });
                        }
                    },
                    error: function () {
                        $('#forgot-spinner').addClass('d-none');
                        $('#forgot-text').removeClass('invisible');
                        $('#forgot-btn').prop('disabled', false);

                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred during login.',
                        });
                    }
                });
            });
        });
    </script>
</body>

</html>